:root {
    --header-text-color: rgb(222, 222, 222);
    --header-background-color: rgb(22, 22, 22);
    --text-color-darker: rgb(133, 133, 133);
    --text-color-normal: rgb(166, 166, 166);
    --text-color-lighter: rgb(199, 199, 199);
    --page-background-color: ;
}

@font-face {
    font-family: "Cascadia Mono";
    src:
        local("Cascadia Mono"),
        url("../fonts/CascadiaMono.ttf") format("truetype"),
}

* {
    font-family: "Cascadia Mono", monospace;
    color: var(--text-color-normal);
    margin: 0;
    padding: 0;
    border: 0.5px solid white;
}

a {
    color: white;
    text-decoration: none;
}

header,
footer {
    position: fixed;
    width: 100%;
}

header {
    top: 0;
    text-align: center;
    background-color: var(--header-background-color);
    padding-top: 33px;
    padding-bottom: 3px;
}

footer {
    bottom: 0;
    padding-top: 33px;
    padding-bottom: 3px;
}

#site-name {
    color: var(--header-text-color);
    font-size: x-large;
}

hr {
    border: 2px groove var(--text-color-normal);
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 666px;

}

.header-nav-container  {
    margin-top: 6px;
    margin-bottom: 6px;
}

.header-nav-menu {
    display: inline-block;
    list-style: none;
}

.header-nav-menu li {
    display: inline-block;
    position: relative;
}

.header-nav-menu a {
    display: block;
    color: gray;
    text-align: center;
    padding: 3px 6px;
}

.header-nav-menu a:hover  {
    color:var(--text-color-2);
}

body {
    background-image: url("../images/background.gif");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position: center;
    font-size: 12px;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}