.bodyWrapper {
    padding: 33px;
    display: flex;
    align-items: flex-start;
    color: var(--text-color-normal);
}

.side-menu {
    width: 135px;
    flex-shrink: 0;
}

.side-menu nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 0;
    margin-top: 9px;
}

button {
    background-color: var(--text-color-lighter);
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: var(--text-color-darkest);
    margin: 0;
    padding: 3px 9px;
    text-align: right;
    font-size: 12px;
}

button:hover {
    cursor: pointer;
    background-color: var(--text-color-lighterer);
}

.highlighted {
    background-color: var(--text-color-lighterer);
    font-weight: bold;
}

.content {
    display: flex;
}

.contentText {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    color: var(--text-color-darkerer);
}

.contentText p {
    color: var(--text-color-darkerer);
}

.contentContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--text-color-lighterer);
    border-radius: 9px;
    padding: 27px 36px;
    min-height: 110px;
    width: 387px;
    max-height: 70vh;
    overflow-y: auto;
}

.signoff {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0px;
    margin-top: 9px;
    margin-right: 21px;
}

.contentText i,
.contentText b,
.contentText li {
    color: var(--text-color-darkerer);
}

.contentText a {
    color: var(--text-color-darker)
}

.contentText li,
.likes li {
    list-style-type: circle;
    margin-left: 10px;
    margin-right: 3px;
    color: var(--text-color-darkerer);
}

.contentText ul,
.likes ul {
    flex-direction: column;
    gap: 0;
}

.weirdo {
    margin-bottom: 3px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.likes {
    display: flex;
    gap: 6px;
}

.contentText u,
.aboutTable th,
.aboutTable td {
    color:  var(--text-color-darkerer)
}

.aboutTable {
    border-collapse: collapse;
    margin-bottom: 3px;
}

.aboutTable,
.aboutTable th,
.aboutTable td {
    border: 1px solid var(--text-color-darkerer);
    padding: 3px;
}

th {
    text-align: left;
    font-weight: 600;
}

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 9px;
}

.popout-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.popout-content {
    padding: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}