.contentContainer {
    padding: 33px;
}

.todo h2 {
    color: var(--text-color-darkest);
    font-size: 15px;
    padding-left: 2px;
}

.todo ul {
    margin-top: 6px;
}

.todo li {
    color: var(--text-color-darkest);
    font-size: 11px;
    margin-left: 20px;
    margin-bottom: 6px;
}

@-moz-document url-prefix() {
    .todo li {
        margin-left: 15px;
        margin-bottom: 6px;
    }
}

.todo h2 {
    margin: 0 2px;
}

.todo hr {
    border-top: 1px solid var(--text-color-normal);
    margin: 6px 0;
}