@keyframes blink {
    50% {
        opacity: 0;
    }
}

.windowContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.window {
    border: 3px solid var(--text-color-lighterer);
    background-color: black;
    height: 450px;
}

.windowTitleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-color-lighterer);
    padding-top: 3px;
    padding-bottom: 3px;
}

.windowTitleBar .left {
    display: flex;
    align-items: center;
    gap: 6px;
}

.windowTitleBar img {
    height: 15px;
}

.windowTitle {
    font-weight: normal;
    color: black;
    font-size: 11px;
    font-family: "Segoe UI", sans-serif;
}

.windowContent .output {
    height: auto;
    max-height: 405px;
    width: auto;
    overflow-y: auto;
    background-color: black;
    font-family: "Consolas";
    padding: 3px;
    color: white;
}

.input-container {
    display: flex;
}

.windowContent * {
    font-family: "Consolas", monospace;
    color: white;
}

.windowContent .thing { 
    background-color: black;
    font-size: 12px;
}

.input-container{ 
    padding-left: 3px;
    display: flex;
    width: auto;
}

.input-container .input {
    background-color: black;
    width: 80%;
    outline: none;
}



.sitemap-link {
    text-decoration: underline;
}

.blueScreen {
    background-color:  blue;
}
