.loading {
    margin-top: 33px;
    text-align: center;
}

.thoughtName p {
    color: var(--text-color-darker);
    font-size: 11px;
}

.thoughtName p:hover {
    color: var(--text-color-darkerer);
    cursor: pointer;
    text-decoration: underline;
}

.thoughtContent button {
    /*todo: come up with better design for this button/row */
    padding: 0;
    color: var(--text-color-normal);
    background-color: rgb(255, 255, 255, 0);
    border: 0;
}

.thoughtContent h2 {
    color: var(--text-color-darkest);
    padding-top: 12px;
    margin-bottom: 9px;
}
.thoughtContent p {
    color: var(--text-color-darker);
    min-height: 10px;
    font-size: 10px;
}

.thoughtContent .timeDetails {
    display: flex;
    flex-direction: column;
    margin: 6px 0;
}

.thoughtContent .timeDetails * {
    color: var(--text-color-normal);
}

.thoughtContent hr {
    margin: 9px 0;
    border-top: 1px solid var(--text-color-darker);
}

.thoughtContentBody hr {
    border-top: 1px dashed var(--text-color-darker);
    margin-top: 15px;
    margin-bottom: 6px;
}

.thoughtContent .thinDashedHr {
    border-top: 1px solid var(--text-color-normal);
    border-bottom: 0;
}

.thoughtContent .doubleHr2 {
    height: 5px;
    border-top: 1px solid var(--text-color-darkerer);
    border-bottom: 2px solid var(--text-color-darkerer);
}

.thoughtContent .doubleHr1 {
    height: 5px;
    border-bottom: 1px solid var(--text-color-darkerer);
    border-top: 2px solid var(--text-color-darkerer);
}

.thoughtContent .timeDetails,
.thoughtContent .thoughtContentBody {
    padding: 0 3px;
}

.thoughtContentBody > p {
    margin-bottom: 9px;
}

.thoughtContentBody table {
    border-collapse: collapse;
    margin: 3px;
}

.thoughtContentBody table th,
.thoughtContentBody table td {
    border: 1px solid var(--text-color-darker);
    padding: 3px;
}

.thoughtContentBody b,
.thoughtContentBody i,
.thoughtContentBody u,
.thoughtContentBody code,
.thoughtContentBody sup,
.thoughtContentBody sub,
.thoughtContentBody li {
    color: var(--text-color-darker);
    padding: 0;
    margin: 0;
}

.thoughtContentBody img {
    max-width: 96%;
    height: auto;
    margin: 6px 0;
}

.thoughtContentBody a {
    text-decoration: underline;
}

.thoughtContentBody ul {
    margin-left: 12px;
    margin-bottom: 3px;
}

.thoughtContentBody > ul {
    display: block;
    list-style-type: disc;
    margin-bottom: 6px;
    margin-top: -6px;
}



.thoughtContentBody ol {
    color: var(--text-color-darker);
    font-size: 10px;
    margin-left: 18px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.thoughtContentBody blockquote {
    border-left: 3px solid var(--text-color-normal);
    border-radius: 4px;
    padding: 3px 6px;
    margin: 6px 0;
}

.svg {
    fill: var(--text-color-normal);
}

.svg:hover {
    fill: var(--text-color-darker);
}

