@font-face {
    font-family: "JetBrains Mono";
    src:
        local("JetBrains Mono"),
        url("../public/fonts/JetBrainsMono.ttf") format("truetype");
}

@font-face {
    font-family: "Consolas";
    src:
        local("Consolas"),
        url("../public/fonts/Consolas.ttf") format("truetype");
}

:root {
    --header-text-color: rgb(244, 244, 244);
    --header-background-color: rgb(22, 22, 22);
    --text-color-darkest: rgb(66, 66, 66);
    --text-color-darkerer: rgb(99, 99, 99);
    --text-color-darker: rgb(122, 122, 122);
    --text-color-normal: rgb(166, 166, 166);
    --text-color-lighter: rgb(188, 188, 188);
    --text-color-lighterer: rgb(222, 222, 222);

    --font-family: "JetBrains Mono", "Consolas", monospace;
    --font-url-jbm: url("../public/fonts/JetBrainsMono.ttf");
    --font-url-cons: url("../public/fonts/Consolas.ttf");
}



* {
    font-family: "JetBrains Mono", monospace;
    color: var(--text-color-normal);
    margin: 0;
    padding: 0;
    border: 0 solid white;
}

body {
    background-image: url("../public/images/background.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-size: 12px;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -2;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component {
    display: flex;
    flex: 1;
    width: 666px;
}

div {
    width: 100%;
}

